body{
    font-family: 'Fredoka One', cursive;
    margin: 0%;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.color{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding: 5%;
   
}
.half img{
    width: 80%;
    padding: 5%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 20px;
    color: blue;
    font-weight: 700;
    border-radius: 10px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.full-babybox{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(29, 27, 25);
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-id{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#stack-id{
    border-left: 7px solid;
    border-image: linear-gradient(orange,orangered);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}